/* The sidebar menu */

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:  #006699; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    font-size: larger;
    line-height: 300%;
    color: #A6D0E6;
  }
  .Header{
    top: 0;
  }
  .bodyText{
    color: rgb(2, 116, 131);
  }
  *{
    font-family: sans-serif;
  }
  .sidenav a:hover {
    color: #EFDFA3;
  }
  h1{
    font-size: 200;
  }
  h2{
    line-height: 75%;
  }
  a{
    color:  #A6D0E6;
    text-decoration: none;
  }
